# .env.example
# Copia este archivo como .env y rellena con tus valores reales

# MongoDB Connection
MONGODB_URL=mongodb+srv://usuario:password@cluster.mongodb.net/eedlh_database?retryWrites=true&w=majority

# Resend API Key (para envío de emails)
RESEND_API_KEY=re_tu_clave_api_aqui

# Configuración de la aplicación (opcional)
# PORT=8000
# ENVIRONMENT=development


# Admin credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=tu_password_aqui
SECRET_KEY=tu_clave_secreta_aqui